# Pandas

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

pandas is a NumFOCUS sponsored project. This will help ensure the success of development of pandas as a world-class open-source project, and makes it possible to donate to the project.

Pandas is used for data manipulation, analysis and cleaning. Python pandas is well suited for different kinds of data, such as: 

<ul><li>Tabular data with heterogeneously-typed columns</li>
    <li>Ordered and unordered time series data</li>
    <li>Arbitrary matrix data with row & column labels</li>
    <li>Unlabelled data</li>
    <li>Any other form of observational or statistical data sets</li></ul>

# Python Operations

In [1]:
import pandas as pd
 
XYZ_web= {'Day':[1,2,3,4,5,6], "Visitors":[1000, 700,6000,1000,400,350], "Bounce_Rate":[20,20, 23,15,10,34]}
 
df= pd.DataFrame(XYZ_web)
 
print(df)

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

# create Pandas Series

In [2]:
import pandas as pd
a = pd.Series([1,2,3,4,5])
print(a)
print("\n")
print(type(a))

0    1
1    2
2    3
3    4
4    5
dtype: int64


<class 'pandas.core.series.Series'>

In [3]:
a[2]

3

In [4]:
a = pd.Series(['a','b','c'])
print(a)

0    a
1    b
2    c
dtype: object

In [5]:
a = pd.date_range(start = '01-01-2018', end = '23-5-2018')
print(a)
print("\n")
print(type(a))

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2018-05-14', '2018-05-15', '2018-05-16', '2018-05-17',
               '2018-05-18', '2018-05-19', '2018-05-20', '2018-05-21',
               '2018-05-22', '2018-05-23'],
              dtype='datetime64[ns]', length=143, freq='D')


<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

# Pandas dataframe

In [6]:
import numpy as np

temp = np.random.randint(low = 20, high =100, size = [20,])
name = np.random.choice(['Abhay','Teclov','Geekshub','Ankit'],20)
random = np.random.choice([10,11,13,12,14],20)

a = list(zip(temp, name, random))

df = pd.DataFrame(data = a, columns=['temp','name','random'])
print(df)
print("\n")
print(type(df))

    temp      name  random
0     64     Ankit      13
1     44     Ankit      13
2     82     Ankit      13
3     28     Abhay      14
4     23     Abhay      12
5     82  Geekshub      14
6     57  Geekshub      11
7     28  Geekshub      11
8     30    Teclov      11
9     65  Geekshub      12
10    86     Ankit      11
11    77  Geekshub      14
12    46     Ankit      10
13    98    Teclov      13
14    97     Ankit      10
15    57    Teclov      13
16    50     Abhay      12
17    98     Abhay      13
18    84     Abhay      14
19    68    Teclov      14


<class 'pandas.core.frame.DataFrame'>

In [7]:
temp = np.random.randint(low = 20, high =100, size = [20,])
name = np.random.choice(['Abhay','Teclov','Geekshub','Ankit'],20)
random = np.random.choice([10,11,13,12,14],20)

df = pd.DataFrame({'temp':temp, 'name':name, 'random':random})
print(type(df))
print("\n")
print(df.head())
print("\n")
print(print(df.tail()))

<class 'pandas.core.frame.DataFrame'>


   temp      name  random
0    51    Teclov      12
1    52  Geekshub      13
2    37  Geekshub      14
3    53  Geekshub      10
4    98  Geekshub      10


    temp      name  random
15    35     Ankit      13
16    85     Abhay      10
17    39  Geekshub      13
18    77     Ankit      10
19    33    Teclov      11
None

In [8]:
print(df.shape)
print("\n")
print(df.columns)

(20, 3)


Index(['temp', 'name', 'random'], dtype='object')

In [9]:
df.name

0       Teclov
1     Geekshub
2     Geekshub
3     Geekshub
4     Geekshub
5       Teclov
6        Abhay
7     Geekshub
8        Abhay
9     Geekshub
10       Ankit
11       Abhay
12      Teclov
13       Ankit
14       Abhay
15       Ankit
16       Abhay
17    Geekshub
18       Ankit
19      Teclov
Name: name, dtype: object

In [10]:
df['name']

0       Teclov
1     Geekshub
2     Geekshub
3     Geekshub
4     Geekshub
5       Teclov
6        Abhay
7     Geekshub
8        Abhay
9     Geekshub
10       Ankit
11       Abhay
12      Teclov
13       Ankit
14       Abhay
15       Ankit
16       Abhay
17    Geekshub
18       Ankit
19      Teclov
Name: name, dtype: object

In [11]:
df['temp'].describe()

count    20.000000
mean     63.900000
std      24.618991
min      28.000000
25%      43.500000
50%      55.500000
75%      86.750000
max      99.000000
Name: temp, dtype: float64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    20 non-null     int32
 1   name    20 non-null     object
 2   random  20 non-null     int32
dtypes: int32(2), object(1)
memory usage: 448.0+ bytes

In [13]:
df.values

array([[51, 'Teclov', 12],
       [52, 'Geekshub', 13],
       [37, 'Geekshub', 14],
       [53, 'Geekshub', 10],
       [98, 'Geekshub', 10],
       [71, 'Teclov', 12],
       [96, 'Abhay', 13],
       [45, 'Geekshub', 11],
       [28, 'Abhay', 12],
       [99, 'Geekshub', 13],
       [58, 'Ankit', 11],
       [52, 'Abhay', 11],
       [93, 'Teclov', 14],
       [84, 'Ankit', 11],
       [92, 'Abhay', 11],
       [35, 'Ankit', 13],
       [85, 'Abhay', 10],
       [39, 'Geekshub', 13],
       [77, 'Ankit', 10],
       [33, 'Teclov', 11]], dtype=object)

In [14]:
print(df)

    temp      name  random
0     51    Teclov      12
1     52  Geekshub      13
2     37  Geekshub      14
3     53  Geekshub      10
4     98  Geekshub      10
5     71    Teclov      12
6     96     Abhay      13
7     45  Geekshub      11
8     28     Abhay      12
9     99  Geekshub      13
10    58     Ankit      11
11    52     Abhay      11
12    93    Teclov      14
13    84     Ankit      11
14    92     Abhay      11
15    35     Ankit      13
16    85     Abhay      10
17    39  Geekshub      13
18    77     Ankit      10
19    33    Teclov      11

In [15]:
df.sort_index(axis =0, ascending=False)

    temp      name  random
19    33    Teclov      11
18    77     Ankit      10
17    39  Geekshub      13
16    85     Abhay      10
15    35     Ankit      13
14    92     Abhay      11
13    84     Ankit      11
12    93    Teclov      14
11    52     Abhay      11
10    58     Ankit      11
9     99  Geekshub      13
8     28     Abhay      12
7     45  Geekshub      11
6     96     Abhay      13
5     71    Teclov      12
4     98  Geekshub      10
3     53  Geekshub      10
2     37  Geekshub      14
1     52  Geekshub      13
0     51    Teclov      12

In [16]:
df.drop(['random'], axis =1)

    temp      name
0     51    Teclov
1     52  Geekshub
2     37  Geekshub
3     53  Geekshub
4     98  Geekshub
5     71    Teclov
6     96     Abhay
7     45  Geekshub
8     28     Abhay
9     99  Geekshub
10    58     Ankit
11    52     Abhay
12    93    Teclov
13    84     Ankit
14    92     Abhay
15    35     Ankit
16    85     Abhay
17    39  Geekshub
18    77     Ankit
19    33    Teclov

In [17]:
df.head()

   temp      name  random
0    51    Teclov      12
1    52  Geekshub      13
2    37  Geekshub      14
3    53  Geekshub      10
4    98  Geekshub      10

In [18]:
df.iloc[[0,1]]

   temp      name  random
0    51    Teclov      12
1    52  Geekshub      13

In [19]:
df.iloc[1:3,1]

1    Geekshub
2    Geekshub
Name: name, dtype: object

In [21]:
 df.iloc[[True,True,False,True]]

In [ ]:
df.head()

In [ ]:
df.loc[9,:]

In [ ]:
df.loc[[3,8,4]]

In [ ]:
df.loc[[3,4],'name':'random']

In [ ]:
df.loc[[True, True, False, True]]

In [ ]:
df.loc[df.random > 13]

In [ ]:
df.loc[(df.random > 13) | (df.random == 10),:]

In [ ]:
# Merging & concat
d1 = pd.DataFrame([['a', 1], ['b', 2]],columns=['col1', 'number'])
d2 = pd.DataFrame([['c', 3, 'lion'], ['d', 4, 'tiger']],columns=['letter', 'number', 'animal'])

In [ ]:
print(d1)
print("\n")
print(d2)

In [ ]:
pd.concat([d1,d2],axis =0)

In [ ]:
pd.concat([d1,d2], axis =0, ignore_index=True)

In [ ]:
pd.concat([d1,d2], axis = 1)

In [ ]:
d1 = pd.DataFrame({
    "city" : ["lucknow","kanpur","agra","delhi"],
    "temperature" : [32,45,30,40]
})

print(d1)

In [ ]:
d2 = pd.DataFrame({
    "city" : ["delhi","lucknow","kanpur"],
    "humidity" : [68,65,75]
})

print(d2)

In [ ]:
df = pd.merge(d1,d2, on='city')
print(df)

In [ ]:
df1=pd.merge(d1,d2, on=['city'], how ='outer')
print(df1)

In [ ]:
pd.merge(d1, d2, on =['city'], how='left')

In [ ]:
# dataset from https://github.com/codebasics/py/blob/master/pandas/6_handling_missing_data_replace/weather_data.csv

In [ ]:
df1 = pd.read_csv("weather_data.csv")
print(df1)

In [ ]:
# pip3 install openpyxl
df1.to_excel('df_xl.xlsx', sheet_name = 'weather_data')

In [ ]:
# pip3 install xlrd
df2 = pd.read_excel('df_xl.xlsx')
print(df2)

In [ ]:
df2.to_csv('file.csv')

In [ ]:
df2.to_csv('file_noindex.csv', index = False)

In [ ]:
df_group = df2.groupby("event")
print(df_group)

In [ ]:
for temperature in df_group:
    print(temperature)

In [ ]:
df_group.get_group('Rain')

In [ ]:
df_group.describe()

In [ ]:
def hot_temp(x):
    return x > 30

In [ ]:
df2['hot_temp'] = df2['temperature'].apply(hot_temp)
print(df2)

In [ ]:
df2['hot_temp'] = df2['temperature'].apply(lambda x: x > 30)
print(df2)

In [ ]:
#pivot table
df2.pivot_table(values = 'temperature', index = 'event', aggfunc = 'mean')

In [ ]:
df2.pivot_table(columns = 'temperature')

In [ ]:
help(pd.DataFrame.pivot_table)